{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body>
    <section class="schedule">
        <div class="row">
            <h1>Your trips</h1>
            <img class="image" src='{% static "images/moveit.jpg" %}'alt="" srcset="">
            <h2 class="logo">Move it</h2>
            <div class="container">
                <div class="pending">
                    <div class="content">
                          {% comment %} {% for item in items %}    {% endcomment %}
                        <div class="details">
                            
                            <h3>pending</h3>
                            <h2>{{item.when}}</h2>
                            <p>{{item.moving_from }}</p>
                            <p>{{item.moving_to }}</p>
                           
                        </div>
                          {% comment %} {% endfor %}   {% endcomment %}
                        {% comment %} <a href="{% url 'compose_message' sender_id=user_id %}" >chat</a> {% endcomment %}
                        <a href="{% url 'compose_message' sender_id=user.id %}">Chats</a>
                        {% comment %} <a href="{% url 'compose_message' sender_id=sender.id %}" class="btn btn-primary">Chats</a> {% endcomment %}

                    </div>
                </div>
                {% comment %} <div class="content">
                    <h2>No on-going deliveries</h2>
                </div> {% endcomment %}
                {% comment %} <div class="history">
                    <div class="content">
                        <h3>history</h3>
                        <h2>14/02/2022</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div> {% endcomment %}
                <div class="buttons">
                    <button class="btn" id="signUp"><a href="{% url 'edit_location' relocate_id=relocate.pk|default:'63' %}" class="btn btn-primary">UPDATE</a></button>


                    </button>
                    {% comment %} {% for item in items %} {% endcomment %}
                    {% comment %} <button class="btn" id="signUp"> <a href="{% url 'show' relocate_id=item.relocate_id %}">Choose ride</a></button> {% endcomment %}
                    <button class="btn" id="signUp">  <a href="{% url 'Driver:show' relocate_id=item.relocate_id|default:'0' %}">Choose ride</a></button>
               
                    


    {% comment %} {% endfor %} {% endcomment %}
                </div>
            </div>

        </div>
    </section>
</body>

</html>