{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>Services</title>
      {% comment %} <link rel="stylesheet" href='{% static "ride.css" %}'> {% endcomment %}
      <link rel="stylesheet" href='{% static "style.css" %}'>
      
      <style>
         .row {
             display: flex;
          }

        .column {
             flex: 50%;
        }

        body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
        }
        
      </style>
   </head>
   <body>
      <div>
        <div style=" width: 100%; height: 200px;">
            <img src='{%  static "images/img-7.png" %}' class="rounded-circle" style=" width: 100px; display: block; margin-left: auto; margin-right: auto; padding-top: 0.5%;" alt="Avatar" />
          <p style="text-align: center; ">
            KARABO MOLEPO
          </p>
        </div>
         <div class="container" style="padding-bottom: 20%;"> 
            <div class="services_section_2">

               <p>Hello Kelvin Please find the following information about your driver<p>
               
               <img src='{% static "images/car.png" %}'class="" style="width: 300px; display: block; margin-left: auto; margin-right: auto;" alt="Avatar" />
               
               <div class="row" >
                  <div class="column">
                     <p>Driver name:</p>
                     <p>Bakkie Registration:</p>
                     <p>Model:</p>
                     <p>Date:</p>
                     <p>Origin:</p>
                     <p>Destination:</p>
                     <p>Estimated price:</p>
                  </div>
                  
                  <div class="column">
                     {% for item in items %}
                     <p>{{item.driver_name}}</p>
                     <p>{{item.car_registration}} </p>
                     <p>{{item.model}}</p>
                     {% endfor %}
                     <p>{{item.when}}</p>
                     <p>{{item.moving_from }}</p>
                     <p>{{item.moving_to }}</p>
                     <p>R1 000.00</p>
                  </div>
                  
                </div>
                
                <button class="btn" id="signIn"><a href="/Payment/payment/">Make Payment</a></button>
            </div>
         </div>
        
      </div>
   </body>
</html>
