{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"  integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- custom css link -->
    <link rel="stylesheet" href='{% static "style.css" %}'>
</head>

<body>

    <section class="register">
        <div class="row">
            <h3>create an account</h3>
            <img class="image" src='{% static "images/moveit.jpg" %}' alt="" srcset="">
            <h2>Move it</h2>

            <div class="content">
                <form action="register" method="POST">
                    {%csrf_token%}
                    <div class="inputbox">
                        <span><i class="fas fa-envelope" ></i></span>
                        <input type="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="inputbox">
                        <span><i class="fas fa-user" ></i></span>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="inputbox">
                        <span><i class="fas fa-lock" ></i></span>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="inputbox">
                        <span><i class="fas fa-lock" ></i></span>
                        <input type="password" name="password2" placeholder="Confirm password">
                    </div>
                    <p>By signing up you are agreeing to our <span>terms of service </span>and <span>privacy policy</span></p>
                    <button class="btn" id="signUp">sign Up</button>
                    <button class="btn" id="signIn"><a href='{% url "login" %}'>sign in</a></button>
                </form>
                <div class="error">
                    {% for message in messages %}
                    <h1 style="color:red;">{{message}}</h1>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </section>
</body>

</html>