{% load static %}
<html>

<head>
    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- custom css link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        .inputbox input[type="text"],
        .inputbox input[type="date"] {
            width: 100%;
            border: none;
            padding: 10px;
            font-size: 1rem;
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>

    <section class="register" id="signInform">
        <div class="row" id="relocateform">
            <img class="image" src='{% static "images/moveit.jpg" %}' alt="" srcset="">
            <h2>Move it</h2>
            <div class="content">
                <div class="inputbox" id="rellocate">
                    <span><i class="fa-sharp fa-regular fa-clock" ></i></span>
                    <input type="button" value="Relocate">
				</div>
                {% comment %} <form method="POST" class="input-group">
                    {% csrf_token %}
                    <p class="relocatep">let us help you to move your things</p>
                    <div class="inputbox">
                        <input type="text" name="date" placeholder="When">
                        <span><i class="fa fa-calendar" ></i></span>
                    </div>
                    <div class="inputbox">
                        <input type="address" name="origin" placeholder="Moving from">
                        <span><i class="fas fa-map-pin" ></i></span>
                        </div>
                    <div class="inputbox">
                        <input type="address" name="destination" placeholder="Moving to">
                        <span><i class="fas fa-location-dot" ></i></span>
                    </div>
                    <button class="btn" id="signUp"><a href="deliveries">Choose ride</a></button>
                </form> {% endcomment %}

              


  <form method="POST" class="relocate-form">
    {% csrf_token %}
    <div class="inputbox">
      {{ form.when.label_tag }}
      {{ form.when }}
    </div>
    <div class="inputbox">
      {{ form.moving_from.label_tag }}
      {{ form.moving_from }}
    </div>
    <div class="inputbox">
      {{ form.moving_to.label_tag }}
      {{ form.moving_to }}
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>


            </div>

        </div>
    </section>

</body>

</html>